<ion-view view-title="Item">
  <ion-content>

    <div class="list card">

      <div class="item">
        <h2>
	  	    {{item.name}}
        </h2>
      </div>

      <div class="item item-body">
			  <img src="{{item.img}}">		
        <p>
          {{item.description}}
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
